.wrap{
	background: blue;
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: green;
	/*height: 50px;*/
	padding: 2px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
    text-align: center;

}
 

/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: red;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	width: 100%;
	padding: 10px;
}